<div class="row">
  <div class="col-md-1">
    <i class="fa fa-list fa-5x"></i>
  </div>
  <div class="col-md-11">
    <h1>Listing Url</h1>
    <%= link_to 'New feed_source', new_feed_source_path %>
  </div>

    <% @feed_sources.each do |feed_source| %>
      <form>
        <div class="form-group">
          <label><%= feed_source.title %></label>
          <label class="form-control" style="width: 600px;">
            <%= link_to feed_source.url, feed_source %>
           <div id="follow_buttons" class= "follow-buttons" >
              <% if current_user %>
                <% if feed_source.followed_by?(current_user.id) %>
                  <%= link_to 'Unfollow', unfollow_feed_source_path(feed_source), remote: true %>  
                <% else %>
                  <%= link_to 'Follow', follow_feed_source_path(feed_source), remote: true, id: "feed_source_id", "data-posref" => @user_source %>  
                <%end%>
              <%end%>
            </div> 
          </label>
        </div>
      </form>
    <% end %>

<br>

<%= link_to 'New feed_source', new_feed_source_path %>
</div>