<p>
  <strong>Title:</strong>
  <%= @feed_source.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @feed_source.url %>
</p>

<%= link_to 'Edit', edit_feed_source_path(@feed_source) %> |
<%= link_to 'Back', feed_sources_path %>
<ul>
	<%= render @feed_source.feeds %>
</ul>
<p>
       <%= @feeds.entries %>
</p>