<div class="blog-posts single-post">

  <article class="post post-large blog-single-post">
    <!--div class="post-image">
      <div class="img-thumbnail">
        <%#= image_tag("blog-image-1.jpg", class: "img-responsive") %>
      </div>
    </div-->

    <div class="post-content">

      <h2><%= feed.title %></h2>
      <%= render "feeder/feeds/feed_meta", feed: feed %>
      <p><%= sanitize feed.content %></p>
      <%= render "feeder/feeds/feed_meta", feed: feed %>

        <div id="like_buttons" class="row">
          <% if current_user %>
            <% if feed.liked_by?(current_user.id) %>
              <p><%= link_to "Unlike(#{feed.likes_count})", unlike_feed_path(feed), remote: true %></p>
            <% else %>
              <p><%= link_to "Like(#{feed.likes_count})", like_feed_path(feed), remote: true %></p>  
            <%end%>
          <%end%>
        </div>
      <h5> Yazıda Geçen Linkler </h5>
      <ol>
        <% feed.sites.each do |site| %>
          <li><%= link_to site.domain, site_path(site) %></li>
        <% end %>
      </ol>
      <br>
      <%= feed.url %>
  </article>

</div>