<div class="blog-posts single-post">

  <article class="post post-large blog-single-post">
    <!--div class="post-image">
      <div class="img-thumbnail">
        <%#= image_tag("blog-image-1.jpg", class: "img-responsive") %>
      </div>
    </div-->

    <div class="post-content">
      <h2><%= feed.title %></h2>
      <%= render "feeder/feeds/feed_meta", feed: feed %>
      <p><%= sanitize feed.content %></p>
      <%= render "feeder/feeds/feed_meta", feed: feed %>
      <div class="row">
        <!-- <div id="like_buttons" class="col-md-2">
          <%# if current_user %>
            <%# if feed.liked_by?(current_user.id) %>
              <p><%#= link_to "Unlike(#{feed.likes_count})", unlike_feed_path(feed), remote: true, class: "btn btn-default" %></p>
            <%# else %>
              <p><%#= link_to "Like(#{feed.likes_count})", like_feed_path(feed), remote: true, class: "btn btn-default" %></p>  
            <%#end%>
          <%#end%>
        </div>
        <div id="readlater_buttons" class="col-md-3">
          <%# if current_user %>
            <%# if feed.readlater_by?(current_user.id) %>
              <p><%#= link_to "Undo Read Later", undo_readlater_feed_path(feed), remote: true, class: "btn btn-default" %></p>
            <%# else %>
              <p><%#= link_to "Read Later", readlater_feed_path(feed), remote: true, class: "btn btn-default" %></p>
            <%#end%>
          <%#end%>
        </div> -->
        <!--img src="https://cloud.githubusercontent.com/assets/28847/3418917/8883ea2e-fe51-11e3-81f4-368f184b9a49.png" alt="" class="img-responsive"-->
      </div>
      <div class="fb-share-button" data-href="<%= feeder.feed_url(feed) %>" data-layout="button"></div>
      <a href="https://twitter.com/share" class="twitter-share-button"{count} data-url="<%= feeder.feed_url(feed) %>" data-text="<%= feed.title %>"  data-hashtags="sitescamp"></a>
      <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
      <script type="IN/Share" data-url="<%= feeder.feed_url(feed) %>"></script>    
      <!-- <a data-pocket-label="pocket" data-save-url="<%= feeder.feed_url(feed) %>" data-pocket-count="none" class="pocket-btn" data-lang="en"></a> -->      
        <%#= social_share_button_tag(@feed.title) %>
      <h5> Yazıda Geçen Linkler </h5>
      <ol>
        <% feed.sites.each do |site| %>
          <li><%= link_to site.domain, site_path(site), rel: "nofollow" %></li>
        <% end %>
      </ol>
      <br>
      <%= link_to feed.url, feed.url, rel: "nofollow", target: "_blank" %>
    </div>
  </article>

</div>
<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
<script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>