<article>
<!--p>Links:	<%= @links.to_s %></p>
<h1>Title: <%#= @title %></h1>
<h1>Lang: <%= @lang1 %></h1-->
	<%#= @feed.url %>
	
	<%#= sanitize(@feed.content) %>
</article>
<div class="row">
<div class="col-md-2"><!--CSS YAZ-->
</div>
  <div class="col-md-8">
    <div class="blog-posts single-post">

      <article class="post post-large blog-single-post">
        <div class="post-image">
          <div class="img-thumbnail">
            <%= image_tag("blog-image-1.jpg", class: "img-responsive") %>
          </div>
        </div>

        <div class="post-content">

          <h2><%= @feed.title %></h2>
          <%= render "feed_meta" %>
          <p> <%= @new_content %> </p>
          <p>link: <%= link_to @feed.url, "#{@feed.url}" %></p>
          <%= render "feed_meta" %>
            <div id="like_buttons" class="row">
              <% if current_user %>
                <% if @feed.liked_by?(current_user.id) %>
                  <%= link_to 'Unlike', unlike_feed_path(@feed), remote: true %>
                <% else %>
                  <%= link_to 'Like', like_feed_path(@feed), remote: true, id: "feed_id", "data-posref" => @user_like %>  
                <%end%>
              <%end%>
            </div>
          <!--div class="post-block post-share">
            <h3><i class="fa fa-share"></i>Share this post</h3>

            <!-- AddThis Button BEGIN >
            <div class="addthis_toolbox addthis_default_style ">
              <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
              <a class="addthis_button_tweet"></a>
              <a class="addthis_button_pinterest_pinit"></a>
              <a class="addthis_counter addthis_pill_style"></a>
            </div>
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50faf75173aadc53"></script>
            <!-- AddThis Button END >
          </div>
          </div-->
          <h5> Yazıda Geçen Linkler </h5>
          <ol>
            <% @feed.sites.each do |site| %>
              <li><%= link_to site.domain, site_path(site) %></li>
            <% end %>
          </ol>
      </article>

    </div>
  </div>
  <div class="col-md-2">
  </div>

  <!--div class="col-md-3">
    <aside class="sidebar">

      <form>
        <div class="input-group input-group-lg">
          <input class="form-control" placeholder="Search..." name="s" id="s" type="text">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>

      <hr />

      <h4>Categories</h4>
      <ul class="nav nav-list primary push-bottom">
        <li><a href="#">Design</a></li>
        <li><a href="#">Photos</a></li>
        <li><a href="#">Videos</a></li>
        <li><a href="#">Lifestyle</a></li>
        <li><a href="#">Technology</a></li>
      </ul>

      <div class="tabs">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#popularPosts" data-toggle="tab"><i class="fa fa-star"></i> Popular</a></li>
          <li><a href="#recentPosts" data-toggle="tab">Recent</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="popularPosts">
            <ul class="simple-post-list">
              <li>
                <div class="post-image">
                  <div class="img-thumbnail">
                    <a href="blog-post.html">
                      <img src="img/blog/blog-thumb-1.jpg" alt="">
                    </a>
                  </div>
                </div>
                <div class="post-info">
                  <a href="blog-post.html">Nullam Vitae Nibh Un Odiosters</a>
                  <div class="post-meta">
                               Jan 10, 2013
                  </div>
                </div>
              </li>
              <li>
                <div class="post-image">
                  <div class="img-thumbnail">
                    <a href="blog-post.html">
                      <img src="img/blog/blog-thumb-2.jpg" alt="">
                    </a>
                  </div>
                </div>
                <div class="post-info">
                  <a href="blog-post.html">Vitae Nibh Un Odiosters</a>
                  <div class="post-meta">
                               Jan 10, 2013
                  </div>
                </div>
              </li>
              <li>
                <div class="post-image">
                  <div class="img-thumbnail">
                    <a href="blog-post.html">
                      <img src="img/blog/blog-thumb-3.jpg" alt="">
                    </a>
                  </div>
                </div>
                <div class="post-info">
                  <a href="blog-post.html">Odiosters Nullam Vitae</a>
                  <div class="post-meta">
                               Jan 10, 2013
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="tab-pane" id="recentPosts">
            <ul class="simple-post-list">
              <li>
                <div class="post-image">
                  <div class="img-thumbnail">
                    <a href="blog-post.html">
                      <img src="img/blog/blog-thumb-2.jpg" alt="">
                    </a>
                  </div>
                </div>
                <div class="post-info">
                  <a href="blog-post.html">Vitae Nibh Un Odiosters</a>
                  <div class="post-meta">
                               Jan 10, 2013
                  </div>
                </div>
              </li>
              <li>
                <div class="post-image">
                  <div class="img-thumbnail">
                    <a href="blog-post.html">
                      <img src="img/blog/blog-thumb-3.jpg" alt="">
                    </a>
                  </div>
                </div>
                <div class="post-info">
                  <a href="blog-post.html">Odiosters Nullam Vitae</a>
                  <div class="post-meta">
                               Jan 10, 2013
                  </div>
                </div>
              </li>
              <li>
                <div class="post-image">
                  <div class="img-thumbnail">
                    <a href="blog-post.html">
                      <img src="img/blog/blog-thumb-1.jpg" alt="">
                    </a>
                  </div>
                </div>
                <div class="post-info">
                  <a href="blog-post.html">Nullam Vitae Nibh Un Odiosters</a>
                  <div class="post-meta">
                               Jan 10, 2013
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <hr />

      <h4>About Us</h4>
      <p>Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Nulla nunc dui, tristique in semper vel. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. </p>

    </aside>
  </div-->
</div>