<article>
<p>Links:	<%= @links.to_s %></p>
<h1>Title: <%= @title %></h1>
<h3>Author: <%= @author %></h3>
<h1>Lang: <%= @lang1 %></h1>
<p>N.Cont: <%= @new_content %></p>
	<h1><%= @feed.title %></h1>
	<h3><%= @feed.url %></h3>
	
	<%= sanitize(@feed.content) %>
<p>
  <div id="like_buttons" class="row">
    <% if current_user %>
    	<% if @feed.liked_by?(current_user.id) %>
    		<%= link_to 'Unlike', unlike_feed_path(@feed), remote: true %>
    	<% else %>
    		<%= link_to 'Like', like_feed_path(@feed), remote: true, id: "feed_id", "data-posref" => @user_like %>  
  	  <%end%>
    <%end%>
  </div>
</p>

<ol>
	<% @feed.sites.each do |site| %>
	  <li><%= link_to site.domain, site_path(site) %></li>
	<% end %>
</ol>
</article>
